*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #f8fcf5;
}
/* .containig{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/homepage.jpg);
  height: 800px;
  width: auto;
} */
.navigation-bar{
  background-image: linear-gradient(to right,#f7f0f0,#e6e3e3,#fcf3f2,#f5f3f2);
  box-shadow: 3px 5px 35px skyblue;
  height: 100px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:99;
}
.navigation-bar ul{
  float: right;
  list-style-type: none;
  margin-top: 10px;
  /*background-image: linear-gradient(to right,#8b9493, #a1abaa , #beccca,#d5e3e1);*/
  padding:5px;
  /* margin-top: 15px; */
  font-size: 20px;
  font-family: "Lobster", sans-serif;
}
.navigation-bar ul li{
  display: inline-flex;
}
.navigation-bar ul li a{
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  transition: 0.4s ease;
}

.navigation-bar ul li.active a{
  background-color: #FF5733;
  color: #000;
  border-radius: 6px;
}

.navigation-bar ul li.active a{
  font-family: "Lobster", sans-serif;
}

.hover-border{
  text-decoration: none;
  position: relative;
  top: 20px;
  color: #fa3123;
  font-size: 20px;

}

.hover-border::after{
  content: '';
  width: 0%;
  height: 5px;
  background: linear-gradient(to right,#41c9e8,#38afc9,#2792ab,#12aacc,#1d7ac2);
  position: absolute;
  top: 27px;
  left: 50%;
  border-radius: 10px;
  transition: all 300ms ease;
}

.hover-border:hover::after{
  left: 2%;
  width: 97%;
}

.title{
  font-family: "Sofia", sans-serif;
  color: #de074b;

}

.title h2{
  float: left;
  color: #de074b;
  font-size: 45px;
  padding-top: 17px;
  margin-left: 10px;
}

.top-books h1{
  padding-top: 30px;
  padding-left: 50px;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 33%;
  left: 0;
  width: 75%;
  padding: 10px;
  margin: -83px auto 0 auto;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form {
  height: 96px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #e16868;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

